<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Django to-do-list</h1>

<form method="POST" action="{% url 'add-collection' %}">
    {% csrf_token %}
    <label for="collection_name">
        Collection name:
        <input type="text" name="collection_name"/>
    </label>

    <button type="submit">Add</button>
</form>

{% if collection_list %}
    <h2>Collections:</h2>

    <ul>
        {% for collection in collection_list %}
            <li>
                {{ collection.name }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% block pagination %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        </span>

        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        <span class="page-links">
            {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

</body>
</html>