<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Django to-do-list</h1>

<form method="POST" action="{% url 'add-collection' %}">
    {% csrf_token %}
    <label for="collection_name">
        Collection name:
        <input type="text" name="collection_name"/>
    </label>

    <button type="submit">Add</button>
</form>

</body>
</html>